* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  color: #333333;
  background-color: #EDEFEE;
  display: grid;
  grid-template-areas: "Header
                        Main
                        Main
                        Main
                        Footer";
  text-align: center;
  min-height: 100vh;
  padding: 6vh 10vw 3vh 10vw;
}

.Header {
  grid-area: Header;
}

.Main {
  grid-area: Main;
}

.Footer {
  grid-area: Footer;
}

.title {
  font-size: 64pt;
  font-family: 'Markazi Text';
}

.subtitle {
  font-size: 40pt;
  font-family: 'Markazi Text';
}

.leadtext {
  font-size: 18pt;
  font-family: 'Karla';
}

.sectiontitle {
  font-size: 20pt;
  font-family: 'Karla';
  font-weight: bold;
  text-transform: uppercase;
}

.weeksspecial {
  font-size: 16pt;
  font-family: 'Karla';
  font-weight: bold;
}

.cardtitle {
  font-size: 18pt;
  font-family: 'Karla';
  font-weight: bold;
}

.paragraph {
  font-size: 16pt;
  font-family: 'Karla';
  line-height: 1.5;
}

.highlighttext {
  font-size: 16pt;
  font-family: 'Karla';
}

.prim1 {
  background-color: #495E57;
}

.prim2 {
  background-color: #F4CE14;
}

.sec1 {
  background-color: #EE9972;
}

.sec2 {
  background-color: #FBDABB;
}

header {
  display: inline-flexbox;
  flex-flow: column wrap;
}

.header_logo, .header_menu {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.header_menu {
  padding: 0 5vw 0 5vw;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

header nav ul li {
  display: block;
  list-style: none;
  margin: 10px;
  white-space: nowrap;
}

footer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

footer > div {
  margin-right: 4rem;
}