* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  color: #333333;
  background-color: #EDEFEE;
  display: grid;
  grid-template-areas: "Header
                        Main
                        Main
                        Main
                        Footer";
  text-align: center;
  min-height: 100vh;
}

.Header {
  grid-area: Header;
}

.Main {
  grid-area: Main;
}

.Footer {
  grid-area: Footer;
}

.padd-right-left {
  padding: 1vh 10vw 1vh 10vw;
}

header {
  padding: 3vh 10vw 2vh 10vw;
  display: flex;
}

.header_logo, .header_menu {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.header_menu {
  padding-left: 5vw;
  padding-right: 5vw;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

header nav ul li {
  list-style: none;
  margin: 10px;
  white-space: nowrap;
}

footer {
  padding: 2vh 10vw 3vh 10vw;
  display: flex;
  flex-flow: row;
  align-items: center;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

footer > div {
  margin-right: 4rem;
}

.image {
  border-radius: 16px;
}

.lemonButton {
  display: inline-block;
  border: 2px solid #333333;
  background-color: #F4CE14;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  align-self: center;
  box-shadow: 2px 2px 5px #000;
}

.lemonButton:focus {
  background-color: #FBDABB;
  box-shadow: none;
}

.title {
  font-size: 64pt;
  font-family: 'Markazi Text';
}

.subtitle {
  font-size: 40pt;
  font-family: 'Markazi Text';
}

.leadtext {
  font-size: 18pt;
  font-family: 'Karla';
}

.sectiontitle {
  font-size: 20pt;
  font-family: 'Karla';
  font-weight: bold;
  text-transform: uppercase;
}

.weeksspecial {
  font-size: 16pt;
  font-family: 'Karla';
  font-weight: bold;
}

.cardtitle {
  font-size: 18pt;
  font-family: 'Karla';
  font-weight: bold;
}

.paragraph {
  font-size: 16pt;
  font-family: 'Karla';
  line-height: 1.5;
}

.highlighttext {
  font-size: 16pt;
  font-family: 'Karla';
}

.prim1 {
  background-color: #495E57;
  color: #EDEFEE;
}

.prim2 {
  background-color: #F4CE14;
}

.sec1 {
  background-color: #EE9972;
}

.sec2 {
  background-color: #FBDABB;
}

@media screen and (max-width: 800px) {
  .padd-right-left, header, footer {
    padding: 2vh 3vw 2vh 3vw;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}