.grid-ss {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title button"
        "specials specials";
    row-gap: 5vh;
    margin-top: 27vh;
    margin-bottom: 2vh;
}

.grid-ss > h1 {
    grid-area: title;
    align-self: left;
}

.grid-ss > button {
    grid-area: button;
    justify-self: end;
}

.grid-ss >.specials-container {
    grid-area: specials;
    display: flex;
}

.hero-flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.title {
    color: #F4CE14;
}

.subtitle {
    color: #FBDABB;
}

#hero-image {
    width: 30vw;
    position: relative;
    margin-bottom: -25vh;
    align-self: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .hero-flex {
        flex-wrap: wrap;
    }
    #hero-image {
        width: 60vw;
    }
}