.shopping-card {
    display: flex;
    flex-direction: column;
    width: 320px;
    max-height: 100vh;
    position: fixed;
    right: -100%;
    padding: 8px;
    gap: 3px;
    border-bottom-left-radius: 16px;
    opacity: 0;
    background-color: var(--sec4);
    color: var(--sec1);
    z-index: 4;
    overflow-y: auto;
    transition-property: right, opacity;
    transition-duration: 1s;
}

.close-button {
    background-color: var(--sec2);
    color: var(--sec4);
    margin: 5px;
    padding: 3px 6px;
    border: 2px solid var(--prim2);
    border-radius: 16px;
    box-shadow: 2px 2px 5px #000;
}

.close-button:active {
    background-color: var(--sec3);
    box-shadow: none;
}

.meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 1px solid var(--prim2);
    border-radius: 16px;
}

.delete-button {
    grid-column-start: 2;
    width: 25px;
    justify-self: end;
    background-color: var(--sec2);
    color: var(--sec4);
    padding: 3px 6px;
    border: 2px solid var(--prim2);
    border-radius: 16px;
    box-shadow: 2px 2px 5px #000;
}

.delete-button:active {
    background-color: var(--sec3);
    box-shadow: none;
}

.order-total-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 1px solid var(--prim2);
    border-radius: 16px;
}

.check-order-button {
    background-color: var(--sec2);
    color: var(--sec4);
    padding: 3px 6px;
    border: 2px solid var(--prim2);
    border-radius: 16px;
    box-shadow: 2px 2px 5px #000;
}

.check-order-button:active {
    background-color: var(--sec3);
    box-shadow: none;
}

.check-order-button:disabled {
    opacity: 0.7;
    box-shadow: none;
}