.special {
    display: grid;
    grid-template-areas: 
        "img img"
        "title price"
        "description description"
        "order order";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 0.2fr 0.3fr 0.2fr;
    width: 20rem;
    border-radius: 16px;
    box-shadow: 2px 2px 5px #000;
    row-gap: 3px;
}

.special img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special h3 {
    grid-area: title;
}

.special h4 {
    grid-area: price;
    color: #EE9972;
}

.special p {
    grid-area: description;
    max-height: 60px;
    overflow-y: scroll;
}

.special span {
    grid-area: order;
}

.grid-ss {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title title button"
        "specials specials specials";
    row-gap: 5vh;
    margin-top: 27vh;
    margin-bottom: 2vh;
}

.grid-ss > h1 {
    grid-area: title;
    align-self: left;
}

.grid-ss > button {
    grid-area: button;
    justify-self: end;
}

.grid-ss >.specials-container {
    grid-area: specials;
    display: flex;
    gap: 2rem;
    max-width: 95vw;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {

    .special {
        display: grid;
        grid-template-areas: 
            "img img"
            "title title"
            "price price"
            "order order";
    }

    .special p {
        display: none;
    }

    .grid-ss {
        display: grid;
        grid-template-areas: 
            "title title"
            "button button"
            "specials specials";
        justify-content: center;
        align-items: center;
    }
    .grid-ss > button {
        justify-self: center;
    }
}