.grid-ss {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title title button"
        "specials specials specials";
    row-gap: 5vh;
    padding-top: 27vh;
    margin-bottom: 2vh;
    width: 100vw;
}

.grid-ss > h1 {
    grid-area: title;
    align-self: left;
}

.grid-ss > button {
    grid-area: button;
}

.grid-ss >.specials-container {
    grid-area: specials;
    display: flex;
    gap: 2rem;
    max-width: 95vw;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 800px) {

    .grid-ss {
        grid-template-columns: auto;
        grid-template-areas:
            "title title"
            "button button"
            "specials specials";
    }
    .grid-ss > button {
        align-self: center;
        text-align: center;
    }
}