* {
  font-family: sans-serif;
}
.App{
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
} 
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  min-width: 3rem;
}
#red {
  background: tomato;
  color: white;
}
#result {
  display: flex;
  align-items: center;
  background-color: azure;
  min-height: 2rem;
  border-radius: 1rem;
  justify-content: center;
}
